body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
}

@keyframes gradient-backgound {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-border {
  0% {
    border: 1px rgb(61, 61, 60) solid;
  }
  50% {
    border: 5px rgb(51, 50, 48) solid;
  }
  75% {
    border: 2px rgb(60, 60, 61) solid;
  }

  100% {
    border: rgb(129, 127, 127);
  }
}
.menu-bar img {
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  left: -7px;
}

.menu-bar {
  position: fixed;
  padding: 10px;
  display: none;
  background: linear-gradient(
    300deg,
    rgba(78, 88, 116, 0.445),
    rgba(30, 1, 88, 0.575),
    rgba(28, 3, 253, 0.247)
  );
  background-size: 180% 180%;
  animation: gradient-backgound 12s ease infinite;
  height: 100vh;
  border-radius: 20px;
  width: 25%;
  left: 10px;
  top: 40px;
  transition: all;
}

.menu-icon i {
  position: fixed;
  font-size: 20px;
  left: 30px;
  top: 30px;
  color: aliceblue;
}
.menu-icon:hover + .menu-bar,
.menu-bar:hover {
  display: flex;
}
.menu-bar ul li {
  position: relative;
  display: inline-block;
  top: 50px;
  margin-bottom: 30px;
  padding-right: 30px;
  text-align: right;
  border-bottom: 0.5px solid #11111180;
  transition: All 0.5s ease;
  color: aliceblue;
  font-size: 1.2rem;
}
.menu-bar ul li:hover {
  background-color: rgb(1, 24, 44);
  border-radius: 20px;
  padding: 10px;
  font-size: 1.4em;
}
.download {
  border-radius: 15px;
  border: 1px solid rgb(92, 90, 90);
  padding: 5px;
  color: black;
  text-shadow: 1px 2px 0.5px wheat;
  background: linear-gradient(
    300deg,
    rgb(78, 115, 116),
    rgb(12, 248, 246, 246),
    rgb(12, 48, 3, 3)
  );
  background-size: 180% 180%;
  animation: gradient-backgound 5s ease infinite;
  margin-top: 50px;
}
.download a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: 0.5s ease;
}
.download:hover {
  border: 3px solid rgb(92, 90, 90);
}
.Contact {
  display: none;
  background-color: rgb(31, 27, 27);
  color: white;
  position: absolute;
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  transition: 0.5s ease-in;
}
.contact:hover .Contact {
  display: inline-block;
  margin-bottom: 300px;
}
.video-backgound {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.background {
  display: grid;
  position: relative;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
}
.picture {
  grid-area: 1/1;
  height: 100vh;
}
.picture img {
  height: 100vh;
  z-index: 1;
  opacity: 0;
}

.text-container {
  grid-area: 2/1;

  height: 100vh;
  position: relative;
  top: 20px;
}

/* .circle {
  position: absolute;
  border-radius: 100%;
  background-color: rgb(31, 27, 27);
  color: aliceblue;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  top: 90px;
  left: 280px;
  margin-top: 180px;
  margin-left: 40px;
}
*/
.circle {
  display: flex;
  width: 50%;
  height: 40%;
  padding: 20px;
  align-items: center;
  background-color: #111111; /* Sky Blue */
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(135, 206, 235, 0.8); /* Blissful shadow effect */
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */

  /* Center the circle horizontally and vertically */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  transition: all 0.5s ease;
}

.blissful-circle:hover {
  transform: scale(
    1.2
  ); /* Scale up the circle on hover for a blissful effect */
}

.circle h2 {
  font-size: 2em;
  padding: 20px;
  text-align: center;
}
.circle h2 a {
  color: aliceblue;
  text-decoration: navajowhite;
}
.text {
  border-radius: 25px;
  border: 20px;
  background-color: rgb(233, 237, 241);
  width: 80%;
  margin-top: 50px;
  text-align: center;
  margin-right: 5px;
  padding: 10px;
  position: inherit;
  left: 30px;
  display: block;
  align-items: center;
  font-size: 1.7em;

  transition: All 0.3s ease-in-out;
}

.text:hover {
  transform: translate(10%, 0%);
  transform: scale(1.1);
}

.foot {
  position: relative;
  background-color: black;
  color: aliceblue;
  font-size: 1.2rem;
  padding: 10px;
  text-align: center;
}

.link2 {
  background-color: deepskyblue;
  width: 10px;
  width: 50px;
  margin-left: 390px;
}
.circle {
  animation: gradient-border 10s ease-in infinite;
}
@media only screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }
  .video-backgound {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  .main-content {
  }

  .video-backgound video {
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0%;
    left: 0%;
  }

  .background {
    display: grid;
    position: relative;
    grid-template-columns: auto;
    gap: 10px;
    grid-template-rows: auto;
    bottom: 40px;
    padding: 0;
    background-color: rgb(1, 43, 29);
    z-index: -1;
    height: 100vh;
    opacity: 0.6;
  }
  .picture {
    grid-area: 1/1;
    height: 100vh;
  }
  .picture img {
    height: 100vh;
    width: 50%;
    opacity: 0.3;
  }

  .menu-bar {
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background: linear-gradient(
      300deg,
      rgba(11, 51, 1, 0.219),
      rgba(2, 97, 34, 0.158),
      rgba(253, 253, 253, 0.103)
    );
    background-size: 180% 180%;
    animation: gradient-backgound 12s ease infinite;
    height: 20px;
    border-radius: 20px;
    width: 88%;
    left: 50px;
    top: 40px;
  }

  .menu-bar ul li {
    position: relative;
    top: -10px;
    display: inline-block;
    padding-right: 30px;
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 1px 5px #111111;
  }
  .download {
    padding-right: 20px;
    border-radius: 15px;
    border: 1px solid rgb(92, 90, 90);
    padding: 5px;
    margin-left: 370px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px 0.5px wheat;
    background: linear-gradient(
      300deg,
      rgba(81, 255, 0, 0.404),
      rgba(0, 255, 128, 0.281),
      rgba(121, 247, 4, 0)
    );
    background-size: 180% 180%;
    animation: gradient-backgound 5s ease infinite;
  }
  .download a {
    text-decoration: none;
    color: rgb(255, 252, 252);
    cursor: pointer;
    transition: 0.5s ease;
  }
  .download:hover {
    border: 3px solid rgb(92, 90, 90);
  }
  .Contact {
    display: none;
    background-color: rgb(31, 27, 27);
    color: white;
    position: absolute;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    transition: 0.5s ease-in;
  }
  .contact:hover .Contact {
    display: block;
  }

  .text-container {
    grid-area: 2/1;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
  }
  .foot {
    width: 100%;
  }
  .circle img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    opacity: 0.8;
    background-color: #00ffaa10;
  }

  .circle {
    grid-area: 1/1;
    position: absolute;
    border-radius: 100%;
    background-color: rgb(31, 27, 27);
    color: aliceblue;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    top: 90px;
    left: 280px;
    margin-top: 180px;
    margin-left: 150px;
    z-index: 1;
  }

  .circle h2 {
    font-size: 2em;
    padding: 20px;
    text-align: center;
    z-index: 999;
  }
  .text {
    border-radius: 25px;
    border: 20px;
    background-color: rgb(0, 0, 0);
    width: 450px;
    margin-top: 50px;
    text-align: center;
    margin-right: 5px;
    opacity: 1;
    color: aliceblue;
    text-shadow: 0.5px 1.5px 2px yellowgreen;
  }
  .text1 {
    opacity: 1;
    width: 100%;
    background-color: #111111;
  }

  .link2 {
    background-color: deepskyblue;
    width: 10px;
    width: 50px;
    margin-left: 390px;
  }
  .circle {
    animation: gradient-border 10s ease-in infinite;
  }
}
